* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.nav {
  height: 40px;
  background-color: #000;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  .nav__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; }
    .nav__container a {
      color: #fff;
      font-size: 13px;
      text-decoration: none; }
      .nav__container a:hover {
        display: bloc; }
    .nav__container li {
      position: relative;
      cursor: pointer; }
      .nav__container li:nth-child(-n+2) {
        position: relative; }
        .nav__container li:nth-child(-n+2):after {
          content: "";
          position: absolute;
          right: -18px;
          top: 4px;
          border: 5px solid transparent;
          border-top: 8px solid #FF5716; }
      .nav__container li:nth-child(6) {
        position: relative; }
        .nav__container li:nth-child(6):after {
          content: "";
          position: absolute;
          right: -18px;
          top: 4px;
          border: 5px solid transparent;
          border-top: 8px solid #FF5716; }
    .nav__container_catalog {
      display: none;
      position: absolute;
      top: 24px;
      left: -20px;
      background-color: #000;
      padding: 5px;
      z-index: 4; }
  .nav__burger {
    display: none; }

.catalog__menu-item {
  text-decoration: none;
  display: block;
  width: 100px;
  padding: 5px; }
  .catalog__menu-item:hover {
    text-decoration: underline; }

.header {
  display: flex;
  align-items: auto;
  justify-content: space-between;
  flex-wrap: wrap; }
  .header__handlers {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; }
    @media screen and (max-width: 1140px) {
      .header__handlers {
        margin-bottom: calc(0px + 26 * ((100vw - 320px) / 820)); } }
    .header__handlers .logo__region {
      font-size: 14px; }
      @media screen and (max-width: 1140px) {
        .header__handlers .logo__region {
          font-size: calc(11px + 3 * ((100vw - 320px) / 820)); } }
      .header__handlers .logo__region a {
        color: #6183B3;
        text-decoration: none;
        border-bottom: 2px dashed #CCD8E8;
        font-size: 13px; }
        @media screen and (max-width: 1140px) {
          .header__handlers .logo__region a {
            font-size: calc(10px + 3 * ((100vw - 320px) / 820)); } }
    .header__handlers .logo__photo {
      margin-top: 7px;
      display: flex; }
      .header__handlers .logo__photo img {
        width: 190px;
        padding-right: 8px; }
        @media screen and (max-width: 1140px) {
          .header__handlers .logo__photo img {
            width: calc(150px + 40 * ((100vw - 320px) / 820)); } }
    .header__handlers .logo__subtitle {
      font-size: 11px;
      text-transform: uppercase;
      color: #8F9092; }
      @media screen and (max-width: 1140px) {
        .header__handlers .logo__subtitle {
          font-size: calc(9px + 2 * ((100vw - 320px) / 820)); } }
    .header__handlers .contacts {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      line-height: 18px;
      line-heigh: 20px; }
      @media screen and (max-width: 1140px) {
        .header__handlers .contacts {
          line-heigh: calc(10px + 10 * ((100vw - 320px) / 820)); } }
      .header__handlers .contacts__bell {
        padding: 12px 9px 12px 0px;
        position: relative; }
        .header__handlers .contacts__bell a {
          font-size: 12px;
          padding: 10px 13px;
          position: absolute;
          text-transform: uppercase;
          text-align: center;
          text-decoration: 2px dashed underline #CCD8E8;
          color: #6B8DBB;
          z-index: 1; }
      .header__handlers .contacts__date {
        font-size: 14px; }
        @media screen and (max-width: 1140px) {
          .header__handlers .contacts__date {
            font-size: calc(11px + 3 * ((100vw - 320px) / 820)); } }
      .header__handlers .contacts__info {
        display: inline-block; }
      .header__handlers .contacts__phone {
        color: #000;
        font-size: 22px;
        text-decoration: none; }
        @media screen and (max-width: 1140px) {
          .header__handlers .contacts__phone {
            font-size: calc(14px + 8 * ((100vw - 320px) / 820)); } }
      .header__handlers .contacts__subphone {
        color: #000;
        font-size: 14px;
        text-decoration: none; }
        @media screen and (max-width: 1140px) {
          .header__handlers .contacts__subphone {
            font-size: calc(10px + 4 * ((100vw - 320px) / 820)); } }
      .header__handlers .contacts__email {
        color: #6B8DBB;
        font-size: 14px; }
        @media screen and (max-width: 1140px) {
          .header__handlers .contacts__email {
            font-size: calc(10px + 4 * ((100vw - 320px) / 820)); } }
    .header__handlers .contacts {
      margin-top: 20px; }
      @media screen and (max-width: 1140px) {
        .header__handlers .contacts {
          margin-top: calc(4px + 16 * ((100vw - 320px) / 820)); } }
    .header__handlers .search__offer {
      margin-top: 31px;
      font-size: 16px;
      text-transform: uppercase;
      display: flex; }
      .header__handlers .search__offer img {
        margin-right: 7px; }
      .header__handlers .search__offer p {
        color: #FF5716;
        font-style: italic; }
        .header__handlers .search__offer p span {
          color: #000; }
    .header__handlers .search__field {
      margin-top: 11px;
      position: relative; }
    .header__handlers .search__input {
      padding: 5px 3px;
      width: 234px;
      height: 30px;
      display: block;
      border: none;
      border-radius: 4px;
      background-color: #EFF0F4; }
    .header__handlers .search__btn {
      padding: 3px 9px;
      font-size: 13px;
      height: 26px;
      position: absolute;
      top: 2px;
      right: 2px;
      border-radius: 4px;
      border: none;
      background-color: #FF5716;
      color: #fff; }
    .header__handlers .account__links {
      margin-bottom: 13px;
      display: flex;
      align-items: auto;
      justify-content: flex-end;
      flex-wrap: nowrap; }
      .header__handlers .account__links a {
        color: #4673AC;
        font-size: 13px; }
        @media screen and (max-width: 1140px) {
          .header__handlers .account__links a {
            font-size: calc(11px + 2 * ((100vw - 320px) / 820)); } }
      .header__handlers .account__links a:nth-child(1) {
        margin-right: 23px; }
    .header__handlers .account__basket {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      font-weight: 700;
      border-radius: 10px;
      background: linear-gradient(to bottom right, #E2E5EC, #FFFFFF 55%, #E2E5EC); }
      .header__handlers .account__basket img {
        padding: 17px; }
        @media screen and (max-width: 1140px) {
          .header__handlers .account__basket img {
            padding: calc(8px + 9 * ((100vw - 320px) / 820)); } }
      .header__handlers .account__basket a {
        color: #4673AC; }
      .header__handlers .account__basket span {
        font-size: 14px;
        font-weight: 500; }
        @media screen and (max-width: 1140px) {
          .header__handlers .account__basket span {
            font-size: calc(10px + 4 * ((100vw - 320px) / 820)); } }
    .header__handlers .account__products {
      display: flex;
      margin-top: 5px; }
      .header__handlers .account__products img {
        padding-right: 8px; }
        @media screen and (max-width: 1140px) {
          .header__handlers .account__products img {
            padding-right: calc(2px + 6 * ((100vw - 320px) / 820)); } }
      .header__handlers .account__products a {
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        border-bottom: 2px dashed #6B8DBB;
        color: #000; }
        @media screen and (max-width: 1140px) {
          .header__handlers .account__products a {
            font-size: calc(8px + 4 * ((100vw - 320px) / 820)); } }
        .header__handlers .account__products a:nth-child(1) {
          padding-right: 17px; }
          @media screen and (max-width: 1140px) {
            .header__handlers .account__products a:nth-child(1) {
              padding-right: calc(4px + 13 * ((100vw - 320px) / 820)); } }
        .header__handlers .account__products a span {
          padding-left: 3px;
          color: #4673AC;
          font-size: 12px; }
          @media screen and (max-width: 1140px) {
            .header__handlers .account__products a span {
              font-size: calc(8px + 4 * ((100vw - 320px) / 820)); } }
  .header .products {
    margin-bottom: 18px;
    height: 51px;
    display: flex;
    position: relative;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: #D74207; }
    .header .products__wrapper {
      overflow: hidden; }
    .header .products .arrow-wrapper {
      width: 28px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: -27px;
      background-color: #D74207;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px; }
    .header .products__arrow {
      height: 20%;
      width: 7px; }
    .header .products__list {
      display: flex;
      align-items: auto;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin-right: 21px;
      height: 48px;
      background-color: #FF5716;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px; }
      .header .products__list_item {
        list-style: none;
        display: flex;
        align-items: auto;
        justify-content: start;
        flex-wrap: nowrap;
        border-right: 2px solid #FF743D;
        width: 105px;
        align-items: center; }
        .header .products__list_item:first-child {
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px; }
        .header .products__list_item:last-child {
          border-right: none; }
        .header .products__list_item:hover {
          height: 48px;
          background-color: #FF743D; }
      .header .products__list_link {
        margin: 8px 3px;
        font-size: 12px;
        text-decoration: none;
        color: #fff; }
        .header .products__list_link:hover {
          text-decoration: underline; }

.menuWrapper {
  overflow: hidden; }

@media screen and (max-width: 1440px) {
  .nav__container {
    display: none; }
  .nav__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; }
  .nav__visual {
    margin-top: 8px; }
    .nav__visual span {
      margin: 4px 10px;
      width: 40px;
      height: 3px;
      display: block;
      background: #FF5716; }
  .nav__title {
    color: #fff;
    margin-top: 8px; }

  .header .search {
    display: none; }
  .header .products__list {
    display: none; }

  .account {
    position: relative; }
    .account__basket_search {
      position: absolute;
      top: 45px;
      left: -50px; } }
    @media screen and (max-width: 1440px) and (max-width: 1140px) {
      .account__basket_search {
        top: calc(24px + 21 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1440px) and (max-width: 1140px) {
      .account__basket_search {
        left: calc(-19px + -31 * ((100vw - 320px) / 820)); } }

@media screen and (max-width: 1440px) {
  .products__wrapper {
    display: none; } }
@media screen and (max-width: 768px) {
  .contacts__phone {
    display: block; }
  .contacts__bell {
    display: none; }
  .contacts__info {
    text-align: right; }

  .contacts p {
    display: none; }
  .contacts a {
    display: none; }
  .contacts img {
    display: none; } }
@media screen and (max-width: 576px) {
  .header__handlers {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap; }

  .logo__subtitle {
    display: none; }

  .contact__date {
    display: none; }
  .contact__email {
    display: none; }

  .account__basket p {
    display: none; }
  .account__basket img {
    display: none; }
  .account__enter {
    display: none; }
  .account__products a {
    display: none; }

  .account__basket {
    position: relative; }
    .account__basket_img img {
      margin-left: 20px; }
    .account__basket:after {
      content: "10";
      padding: 1px 3px;
      font-size: 8px;
      position: absolute;
      top: -10px;
      left: 71px;
      border-radius: 2px;
      color: #FF5716;
      background: linear-gradient(to bottom right, #E2E5EC, #FFFFFF 55%, #E2E5EC); }
    .account__basket_email {
      margin-top: 7px;
      display: block; } }
@media screen and (min-width: 1440px) {
  .account__basket_search {
    display: none; } }
@media screen and (min-width: 576px) {
  .account__basket_img {
    display: none; }

  .contacts__info_media {
    display: none; } }
@media screen and (max-width: 576px) {
  .account__basket_img {
    text-align: right; }

  .account__basket_search {
    margin-left: 50px; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.news {
  width: 100%;
  display: flex;
  align-items: auto;
  justify-content: space-between;
  flex-wrap: nowrap; }
  .news__company {
    max-width: 270px;
    width: 100%; }
    @media screen and (max-width: 1140px) {
      .news__company {
        max-width: calc(170px + 100 * ((100vw - 320px) / 820)); } }
  .news__header {
    max-width: 250px;
    width: 100%;
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 12px;
    text-transform: uppercase;
    border-bottom: #dbdee6 1px solid; }
    @media screen and (max-width: 1140px) {
      .news__header {
        max-width: calc(140px + 110 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__header {
        font-size: calc(12px + 10 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__header {
        padding-top: calc(1px + 7 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__header {
        padding-bottom: calc(0px + 12 * ((100vw - 320px) / 820)); } }
  .news__list {
    margin-top: 27px;
    padding-right: 20px; }
    @media screen and (max-width: 1140px) {
      .news__list {
        margin-top: calc(0px + 27 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__list {
        padding-right: calc(10px + 10 * ((100vw - 320px) / 820)); } }
    .news__list_item {
      margin-bottom: 19px;
      display: flex;
      align-items: flex-start;
      list-style: none;
      border-bottom: #dbdee6 1px dashed; }
      @media screen and (max-width: 1140px) {
        .news__list_item {
          margin-bottom: calc(1px + 18 * ((100vw - 320px) / 820)); } }
      .news__list_item:last-child {
        border: none; }
  .news__img {
    text-align: center; }
  .news__img-body {
    font-size: 12px;
    height: 71px;
    position: relative; }
    @media screen and (max-width: 1140px) {
      .news__img-body {
        font-size: calc(6px + 6 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__img-body {
        height: calc(20px + 51 * ((100vw - 320px) / 820)); } }
    .news__img-body img {
      border-radius: 12px;
      width: 50px;
      height: 50px;
      max-width: 60px; }
      @media screen and (max-width: 1140px) {
        .news__img-body img {
          max-width: calc(29px + 31 * ((100vw - 320px) / 820)); } }
  .news__date {
    position: absolute;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 21px;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    color: #FF5716;
    background-color: #fff;
    border-radius: 5px; }
    @media screen and (max-width: 1140px) {
      .news__date {
        padding-top: calc(2px + 4 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__date {
        padding-bottom: calc(3px + 2 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__date {
        padding-right: calc(5px + 0 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__date {
        padding-left: calc(5px + 0 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__date {
        font-size: calc(6px + 15 * ((100vw - 320px) / 820)); } }
  .news__month {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 15px; }
    @media screen and (max-width: 1140px) {
      .news__month {
        font-size: calc(7px + 5 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__month {
        margin-top: calc(2px + 3 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__month {
        margin-bottom: calc(1px + 14 * ((100vw - 320px) / 820)); } }
  .news__descript {
    margin-left: 16px;
    font-size: 14px; }
    @media screen and (max-width: 1140px) {
      .news__descript {
        margin-left: calc(8px + 8 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news__descript {
        font-size: calc(4px + 10 * ((100vw - 320px) / 820)); } }
    .news__descript a {
      font-size: 14px;
      color: #6183B3;
      text-decoration: none; }
      @media screen and (max-width: 1140px) {
        .news__descript a {
          font-size: calc(6px + 8 * ((100vw - 320px) / 820)); } }
      .news__descript a:hover {
        text-decoration: underline;
        color: #FF5716; }
    .news__descript p {
      font-size: 14px;
      margin-bottom: 16px;
      margin-top: 5px; }
      @media screen and (max-width: 1140px) {
        .news__descript p {
          font-size: calc(6px + 8 * ((100vw - 320px) / 820)); } }
      @media screen and (max-width: 1140px) {
        .news__descript p {
          margin-bottom: calc(1px + 15 * ((100vw - 320px) / 820)); } }
      @media screen and (max-width: 1140px) {
        .news__descript p {
          margin-top: calc(1px + 4 * ((100vw - 320px) / 820)); } }
  .news__brands {
    color: #4673AC;
    font-size: 14px; }
    @media screen and (max-width: 1140px) {
      .news__brands {
        font-size: calc(4px + 10 * ((100vw - 320px) / 820)); } }
  .news .news__product-header {
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 10px;
    margin-bottom: 24px;
    background-color: #E4E5EA; }
    @media screen and (max-width: 1140px) {
      .news .news__product-header {
        padding-top: calc(6px + 7 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news .news__product-header {
        padding-bottom: calc(6px + 7 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news .news__product-header {
        padding-right: calc(10px + 22 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news .news__product-header {
        padding-left: calc(10px + 22 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news .news__product-header {
        border-radius: calc(4px + 6 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news .news__product-header {
        margin-bottom: calc(10px + 14 * ((100vw - 320px) / 820)); } }
    .news .news__product-header a {
      font-size: 14px;
      color: #6183B3;
      text-decoration: none; }
      @media screen and (max-width: 1140px) {
        .news .news__product-header a {
          font-size: calc(2px + 12 * ((100vw - 320px) / 820)); } }
    .news .news__product-header p {
      font-size: 14px;
      font-style: italic; }
      @media screen and (max-width: 1140px) {
        .news .news__product-header p {
          font-size: calc(2px + 12 * ((100vw - 320px) / 820)); } }
  .news .news__product-slider {
    position: relative; }
    .news .news__product-slider img {
      width: 100%;
      height: 376px; }
      @media screen and (max-width: 1140px) {
        .news .news__product-slider img {
          height: calc(110px + 266 * ((100vw - 320px) / 820)); } }
    .news .news__product-slider_next {
      max-width: 42px;
      height: 100%;
      max-height: 40px;
      width: 100%;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%); }
    .news .news__product-slider_prew {
      max-width: 42px;
      height: 100%;
      max-height: 40px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%); }
  .news .news__product-dots {
    right: 21px;
    bottom: 17px;
    display: inline-block;
    position: absolute; }
    .news .news__product-dots_wrapper {
      display: flex;
      align-items: center; }
    .news .news__product-dots_item {
      margin: 0 1px;
      padding: 9px;
      right: 0;
      background-color: #fff;
      border-radius: 4px;
      list-style: none; }
      @media screen and (max-width: 1140px) {
        .news .news__product-dots_item {
          padding: calc(4px + 5 * ((100vw - 320px) / 820)); } }
  .news .news__product .product-title {
    position: absolute;
    top: 0;
    margin-top: 49px;
    margin-left: 79px;
    font-size: 32px; }
    @media screen and (max-width: 1140px) {
      .news .news__product .product-title {
        margin-top: calc(12px + 37 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news .news__product .product-title {
        margin-left: calc(10px + 69 * ((100vw - 320px) / 820)); } }
    @media screen and (max-width: 1140px) {
      .news .news__product .product-title {
        font-size: calc(3px + 29 * ((100vw - 320px) / 820)); } }
    .news .news__product .product-title__revolution {
      color: #FF5716;
      font-size: 32px; }
      @media screen and (max-width: 1140px) {
        .news .news__product .product-title__revolution {
          font-size: calc(3px + 29 * ((100vw - 320px) / 820)); } }
    .news .news__product .product-title__market {
      color: white;
      font-size: 32px; }
      @media screen and (max-width: 1140px) {
        .news .news__product .product-title__market {
          font-size: calc(3px + 29 * ((100vw - 320px) / 820)); } }
    .news .news__product .product-title__granstream {
      font-size: 20px;
      color: white;
      font-style: italic; }
      @media screen and (max-width: 1140px) {
        .news .news__product .product-title__granstream {
          font-size: calc(3px + 17 * ((100vw - 320px) / 820)); } }
    .news .news__product .product-title__subtitle ul {
      margin-top: 35px; }
      @media screen and (max-width: 1140px) {
        .news .news__product .product-title__subtitle ul {
          margin-top: calc(9px + 26 * ((100vw - 320px) / 820)); } }
      .news .news__product .product-title__subtitle ul li {
        font-size: 13px;
        font-weight: 400;
        padding-top: 8px;
        margin-left: 15px;
        color: #fff; }
        @media screen and (max-width: 1140px) {
          .news .news__product .product-title__subtitle ul li {
            font-size: calc(3px + 10 * ((100vw - 320px) / 820)); } }
    .news .news__product .product-title__btn {
      color: #C4C4C4;
      height: 44px; }
      .news .news__product .product-title__btn button {
        margin-top: 40px;
        border: none;
        border-radius: 7px;
        font-size: 16px;
        text-transform: uppercase;
        color: #4673AC;
        background-color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 33px;
        padding-right: 33px;
        border-bottom: 3.5px solid #C4C4C4; }
        @media screen and (max-width: 1140px) {
          .news .news__product .product-title__btn button {
            margin-top: calc(11px + 29 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .news .news__product .product-title__btn button {
            font-size: calc(2px + 14 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .news .news__product .product-title__btn button {
            padding-top: calc(5px + 3 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .news .news__product .product-title__btn button {
            padding-bottom: calc(5px + 3 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .news .news__product .product-title__btn button {
            padding-left: calc(12px + 21 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .news .news__product .product-title__btn button {
            padding-right: calc(12px + 21 * ((100vw - 320px) / 820)); } }

@media screen and (max-width: 750px) {
  .news__company {
    display: none; }
  .news__product {
    display: none; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.slider__header {
  display: flex;
  align-items: center;
  margin-top: 30px; }

.title {
  font-size: 22px;
  margin-right: 20px;
  position: relative;
  font-weight: 700; }
  @media screen and (max-width: 1140px) {
    .title {
      font-size: calc(14px + 8 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .title {
      margin-right: calc(14px + 6 * ((100vw - 320px) / 820)); } }

.line {
  height: 2px;
  color: #4673AC;
  background-color: #E4E5EA; }

.link {
  color: #4673AC;
  margin-left: 10px; }

.novelty {
  margin-top: 31px; }
  .novelty__subtitle-line {
    width: 78%;
    margin-right: 10px; }

.slider {
  display: flex;
  align-items: strech;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 50px 0px 16px;
  width: 100%;
  position: relative; }
  .slider__arrow-right {
    width: 19px;
    height: 42px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%); }
  .slider__arrow-left {
    height: 42px;
    width: 19px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%); }
  .slider__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  .slider-item {
    padding: 20px;
    max-width: 237px;
    width: 100%;
    margin: 0px 10px;
    border: 2px solid #dbdee6;
    border-radius: 12px;
    position: relative; }
    @media screen and (max-width: 1140px) {
      .slider-item {
        padding: calc(2px + 18 * ((100vw - 320px) / 820)); } }
    .slider-item__photo {
      height: 170px;
      width: 170px; }
    .slider-item:hover {
      border: 2px solid #FF5716; }
    .slider-item img {
      display: block;
      margin: 0 auto; }
    .slider-item__title {
      display: block;
      margin: 16px 0px;
      color: #4673AC; }
      .slider-item__title:hover {
        text-decoration: underline;
        color: #FF5716; }
    .slider-item__label {
      position: absolute;
      top: -6px;
      left: 12px; }
    .slider-item__buttons {
      margin: 15px 0px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap; }
      .slider-item__buttons button {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 12px;
        background-color: #FF5716;
        color: #fff;
        border: none;
        border-bottom: 4px solid #D74207;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        text-transform: uppercase; }
        @media screen and (max-width: 1140px) {
          .slider-item__buttons button {
            padding-top: calc(8px + 0 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .slider-item__buttons button {
            padding-bottom: calc(8px + 0 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .slider-item__buttons button {
            padding-left: calc(8px + 8 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .slider-item__buttons button {
            padding-right: calc(8px + 8 * ((100vw - 320px) / 820)); } }
        @media screen and (max-width: 1140px) {
          .slider-item__buttons button {
            font-size: calc(8px + 4 * ((100vw - 320px) / 820)); } }
        .slider-item__buttons button:hover {
          background-color: #4673AC;
          border-bottom: 4px solid #385985; }
        .slider-item__buttons button img {
          margin-right: 8px; }
      .slider-item__buttons a {
        font-size: 13px;
        color: #4673AC; }
        @media screen and (max-width: 1140px) {
          .slider-item__buttons a {
            font-size: calc(10px + 3 * ((100vw - 320px) / 820)); } }
    .slider-item .price__current {
      font-size: 17px;
      font-weight: 500; }
      @media screen and (max-width: 1140px) {
        .slider-item .price__current {
          font-size: calc(10px + 7 * ((100vw - 320px) / 820)); } }
    .slider-item .price__previous {
      font-size: 13px;
      text-decoration: line-through;
      color: #FF5716; }
      @media screen and (max-width: 1140px) {
        .slider-item .price__previous {
          font-size: calc(11px + 2 * ((100vw - 320px) / 820)); } }

.not-available {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px; }

.stock_description {
  padding-bottom: 130px; }

.stock_descriptions {
  padding-bottom: 10px; }

.stock_img {
  height: 190px; }

.recommendations__title {
  width: 15%; }
.recommendations__subtitle-line {
  width: 70%; }

.sale__title {
  width: 15%; }
.sale__subtitle-line {
  width: 74%; }

@media screen and (max-width: 1200px) {
  .title {
    margin-right: 0; }

  .slider::after {
    display: none; }
  .slider::before {
    display: none; }
  .slider__item {
    margin: 0 3px;
    padding: 15px; }
    .slider__item img.slider-item__photo {
      height: 120px;
      width: 120px; }

  .novelty__title {
    width: 12%; }

  .novelty__subtitle-line {
    width: 76%; }

  .recommendations__title {
    width: 18%; }
  .recommendations__subtitle-line {
    width: 66%; }

  .sale__title {
    width: 17%; }
  .sale__subtitle-line {
    width: 73%; } }
@media screen and (max-width: 980px) {
  .slider .slider__item:nth-child(4) {
    display: none; }

  .slider__item {
    padding: 20px 20px; }

  .slider-item__photo {
    height: 100px;
    width: 100px;
    margin: 0; }

  .slider-item__buttons button {
    padding: 4px 8px; }

  .line {
    margin-right: 15px; }

  .link {
    display: none; }

  .arrow_left, .arrow_right {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    border: 2px solid #C4C4C4;
    padding: 4px;
    border-radius: 50%; }
    .arrow_left:hover, .arrow_right:hover {
      border: 2px solid #FF5716; }
    .arrow_left .arw, .arrow_right .arw {
      border: solid #FF5716;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4px;
      margin-right: 1px; }

  .arrow_left {
    margin-right: 10px; }
    .arrow_left .arw {
      transform: rotate(135deg); }

  .arrow_right .arw {
    transform: rotate(-45deg); }

  .arrow {
    margin: 0 10px;
    max-width: 20px;
    width: 100%; }
    .arrow img {
      width: 100%; }

  .recommendations__title {
    width: 18%; }
  .recommendations__subtitle-line {
    width: 71%; }

  .slider__arrow-right {
    display: none; }

  .slider__arrow-left {
    display: none; } }
@media screen and (max-width: 750px) {
  .slider .slider__item:nth-child(n+2) {
    display: none; }

  .arrow {
    margin: 0 26px; } }
@media screen and (max-width: 576px) {
  .arrow {
    margin: 0 10px 0px 55px; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.stock__title {
  width: 7%; }
.stock__subtitle-line {
  width: 82%; }
.stock .slider__item {
  padding: 10px 0; }
  .stock .slider__item a, .stock .slider__item p.stock__slider_title {
    padding: 5px 10px; }
.stock__slider__item {
  padding: 0; }
.stock__slider_header {
  padding-top: 15px;
  color: #4673AC; }
.stock__slider_img {
  padding-top: 15px;
  width: 100%;
  object-fit: fill; }
.stock__slider_name {
  font-size: 12px; }
  @media screen and (max-width: 1140px) {
    .stock__slider_name {
      font-size: calc(6px + 6 * ((100vw - 320px) / 820)); } }
.stock__slider_title {
  padding: 10px 0px 15px;
  font-size: 14px; }
  @media screen and (max-width: 1140px) {
    .stock__slider_title {
      font-size: calc(11px + 3 * ((100vw - 320px) / 820)); } }
.stock__slider_timer {
  display: flex;
  padding: 15px 18px;
  width: 100%;
  background-color: #dbdee6; }
  .stock__slider_timer .timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; }
    .stock__slider_timer .timer__counter-body span {
      margin: 0 1px;
      padding: 5px;
      font-size: 15px;
      border-radius: 5px;
      background-color: #000;
      color: #fff; }
      @media screen and (max-width: 1140px) {
        .stock__slider_timer .timer__counter-body span {
          font-size: calc(10px + 5 * ((100vw - 320px) / 820)); } }
    .stock__slider_timer .timer__counter-description {
      margin-top: 8px;
      font-size: 12px;
      text-align: center;
      color: #8F9092; }
      @media screen and (max-width: 1140px) {
        .stock__slider_timer .timer__counter-description {
          font-size: calc(11px + 1 * ((100vw - 320px) / 820)); } }
    .stock__slider_timer .timer__counter-indefinitely {
      padding: 15px;
      font-size: 14px;
      font-weight: 500;
      color: #15A232; }
.stock__slider_link {
  margin-top: 12px;
  color: #4673AC;
  display: flex;
  align-items: auto;
  justify-content: center;
  flex-wrap: nowrap; }

@media screen and (max-width: 1200px) {
  .stock__slider::after, .stock__slider::before {
    display: none; }
  .stock__slider .slider__item {
    margin: 0 3px;
    padding: 10px 0; }

  .stock__title {
    width: 10%; }
  .stock__subtitle-line {
    width: 80%; } }
@media screen and (max-width: 992px) {
  .slider__item {
    max-width: 240px;
    width: 100%; } }
@media screen and (max-width: 768px) {
  .stock__slider_timer {
    padding: 9px 8px 5px 8px; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.goods__title {
  width: 40%; }
.goods__subtitle-line {
  width: 78%; }
.goods__list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  margin: 60px 0px 60px 0px; }
.goods_img {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  max-height: 160px;
  height: 100%;
  max-width: 160px;
  width: 100%; }
  .goods_img img {
    height: 100%;
    width: 100%; }
.goods__link {
  display: flex;
  text-align: center;
  margin-top: 20px;
  max-width: 225px; }

@media screen and (max-width: 1200px) {
  .goods__title {
    width: 45%; }
  .goods__subtitle-line {
    width: 78%; } }
@media screen and (max-width: 991px) {
  .goods img {
    width: 150px; }
  .goods__title {
    width: 44%; }
  .goods__subtitle-line {
    width: 56%; } }
@media screen and (max-width: 768px) {
  .goods__title {
    width: 55%; }
  .goods__subtitle-line {
    width: 53%; }
  .goods__item:nth-child(4) {
    display: none; } }
@media screen and (max-width: 576px) {
  .goods {
    display: none; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.brands__title {
  width: 29%; }
.brands__subtitle-line {
  width: 60%;
  margin-right: 10px; }
.brands__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 32px 0px 79px 0px; }
  .brands__list img {
    height: 100%;
    max-width: 200px;
    width: 100%; }

@media screen and (max-width: 1200px) {
  .brands__list .brands_logo {
    max-width: 150px; }

  .brands__title {
    width: 33%; }
  .brands__subtitle-line {
    width: 55%; } }
@media screen and (max-width: 991px) {
  .brands__list .brands_logo {
    max-width: 120px; }

  .brands__title {
    width: 37%; }
  .brands__subtitle-line {
    width: 51%; } }
@media screen and (max-width: 768px) {
  .brands__list .brands_logo {
    max-width: 90px; }

  .brands__title {
    width: 64%; }
  .brands__subtitle-line {
    width: 48%; } }
@media screen and (max-width: 576px) {
  .brands {
    display: none; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.benefits {
  background-color: #E4E5EA;
  border-radius: 12px;
  padding: 29px 0 38px 28px; }
  .benefits__header {
    margin-bottom: 32px;
    display: flex;
    align-items: center; }
    .benefits__header .benefits__subtitle-line {
      width: 100%;
      height: 2px;
      background-color: #fff; }
  .benefits__title {
    width: 45%;
    font-size: 22px;
    font-weight: 700; }
    @media screen and (max-width: 1140px) {
      .benefits__title {
        font-size: calc(14px + 8 * ((100vw - 320px) / 820)); } }
  .benefits__subtitle-line {
    width: 72%;
    background: #fff; }
  .benefits__list {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap; }
  .benefits__item {
    width: 22%; }
  .benefits__descr {
    font-size: 12px;
    margin-top: 11px;
    font-weight: 700;
    display: flex;
    align-items: auto;
    justify-content: center;
    flex-wrap: nowrap;
    text-transform: uppercase; }
    @media screen and (max-width: 1140px) {
      .benefits__descr {
        font-size: calc(8px + 4 * ((100vw - 320px) / 820)); } }

@media screen and (max-width: 1200px) {
  .benefits__title {
    width: 48%; }
  .benefits__subtitle-line {
    width: 51%; } }
@media screen and (max-width: 991px) {
  .benefits__title {
    width: 63%; }
  .benefits__subtitle-line {
    width: 76%; } }
@media screen and (max-width: 768px) {
  .benefits__title {
    width: 82%; }
  .benefits__subtitle-line {
    width: 20%; } }
@media screen and (max-width: 576px) {
  .benefits {
    display: none; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.reasons {
  margin-top: 71px; }
  .reasons__title {
    width: 38%; }
  .reasons__subtitle-line {
    width: 60%; }
  .reasons__success {
    color: #A4D6B0; }
  .reasons__danger {
    color: #F7C7C7; }
  .reasons__wrapper {
    display: flex;
    align-items: auto;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 32px 0px 42px 0px; }
  .reasons_block {
    width: 47%;
    border: 3px solid;
    border-radius: 12px; }
  .reasons_list {
    font-size: 15px; }
    @media screen and (max-width: 1140px) {
      .reasons_list {
        font-size: calc(4px + 11 * ((100vw - 320px) / 820)); } }
  .reasons ul {
    padding: 25px 30px 25px 35px; }
  .reasons li {
    margin-bottom: 12px; }
  .reasons span {
    color: #000; }

.block_header {
  padding-left: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff; }
.block_title {
  font-size: 15px;
  text-transform: uppercase; }
  @media screen and (max-width: 1140px) {
    .block_title {
      font-size: calc(10px + 5 * ((100vw - 320px) / 820)); } }

.danger__header, .success__header {
  padding-left: 70px;
  background-color: #CA0B13; }
.danger__title, .success__title {
  position: relative; }
  .danger__title::before, .success__title::before {
    content: url("/img/reasons/cross.png");
    position: absolute;
    width: 35px;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    display: inline-block; }
.danger__reasons, .success__reasons {
  color: #CA0B13; }

.success__header {
  background-color: #15A232; }
  .success__header ::before {
    padding-right: 10px;
    content: url("/img/reasons/check.png"); }
.success__reasons {
  color: #15A232; }

@media screen and (max-width: 1200px) {
  .reasons__title {
    width: 43%; }
  .reasons__subtitle-line {
    width: 59%; } }
@media screen and (max-width: 991px) {
  .reasons__title {
    width: 57%; }
  .reasons__subtitle-line {
    width: 58%; } }
@media screen and (max-width: 768px) {
  .reasons__title {
    width: 69%; }
  .reasons__subtitle-line {
    width: 47%; } }
@media screen and (max-width: 576px) {
  .benefits {
    display: none; } }
@media screen and (max-width: 576px) {
  .reasons {
    display: none; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.indicators__title {
  width: 15%; }
.indicators__subtitle-line {
  width: 83%; }
.indicators__list {
  margin-top: 41px;
  display: flex;
  align-items: auto;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center; }
.indicators__item {
  width: 20%; }
  .indicators__item:nth-child(2) p {
    font-size: 54px; }
    @media screen and (max-width: 1140px) {
      .indicators__item:nth-child(2) p {
        font-size: calc(24px + 30 * ((100vw - 320px) / 820)); } }
  .indicators__item:nth-child(3) p {
    font-size: 32px;
    color: #FF5716; }
    @media screen and (max-width: 1140px) {
      .indicators__item:nth-child(3) p {
        font-size: calc(17px + 15 * ((100vw - 320px) / 820)); } }
.indicators__number {
  margin: 0 auto;
  font-size: 81px;
  color: #374A59; }
  @media screen and (max-width: 1140px) {
    .indicators__number {
      font-size: calc(40px + 41 * ((100vw - 320px) / 820)); } }
.indicators__number_orange {
  color: #FF5716; }
.indicators p {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border: 2px solid #E4E5EA;
  border-radius: 100%;
  margin-bottom: 11px; }
.indicators span {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase; }
  @media screen and (max-width: 1140px) {
    .indicators span {
      font-size: calc(8px + 4 * ((100vw - 320px) / 820)); } }

@media screen and (max-width: 1200px) {
  .indicators__title {
    width: 18%; }
  .indicators__subtitle-line {
    width: 80%; } }
@media screen and (max-width: 992px) {
  .indicators__item {
    margin: 0 5px; }
  .indicators__title {
    width: 20%; }
  .indicators__subtitle-line {
    width: 78%; }
  .indicators p {
    width: 105px;
    height: 105px; } }
@media screen and (max-width: 768px) {
  .indicators__item:nth-child(n+5) {
    display: none; }
  .indicators__title {
    width: 24%; }
  .indicators__subtitle-line {
    width: 74%; } }
@media screen and (max-width: 576px) {
  .indicators {
    display: none; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.work__title {
  width: 28%; }
.work__subtitle-line {
  width: 80%; }
.work__wrapper {
  padding-top: 32px; }
.work__retail {
  display: flex;
  align-items: center;
  text-transform: uppercase; }
.work__item {
  margin-right: 10px;
  padding: 13px 20px; }
  .work__item:nth-child(n+2) {
    background-color: #E4E5EA;
    border-radius: 7px; }
  .work__item strong {
    margin-right: 26px;
    font-size: 18px; }
    @media screen and (max-width: 1140px) {
      .work__item strong {
        font-size: calc(9px + 9 * ((100vw - 320px) / 820)); } }
  .work__item a {
    margin-right: 6px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px dashed #FF5716;
    color: #FF5716; }
    @media screen and (max-width: 1140px) {
      .work__item a {
        font-size: calc(9px + 9 * ((100vw - 320px) / 820)); } }
.work__scheme {
  margin: 60px 0px 42px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .work__scheme_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; }
    .work__scheme_item img {
      margin-right: 13px; }
    .work__scheme_item p {
      width: 139px;
      font-size: 15px; }

@media screen and (max-width: 1200px) {
  .work__title {
    width: 32%; }
  .work__subtitle-line {
    width: 75%; } }
@media screen and (max-width: 991px) {
  .work__scheme_item {
    padding: 0 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .work__scheme_item img {
      margin: 0; }

  .work__title {
    width: 32%; }
  .work__subtitle-line {
    width: 70%; } }
@media screen and (max-width: 768px) {
  .work__scheme_item {
    width: 20%; }

  .work__arrow {
    max-width: 30px; }

  .work__title {
    width: 38%; }
  .work__subtitle-line {
    width: 63%; } }
@media screen and (max-width: 576px) {
  .work__scheme {
    width: 100%;
    flex-wrap: wrap; }
    .work__scheme .work__scheme_item {
      width: 43%;
      padding: 0; }
      .work__scheme .work__scheme_item:nth-child(-n+3) {
        margin-bottom: 35px; }
      .work__scheme .work__scheme_item p {
        padding-left: 10px; }
      .work__scheme .work__scheme_item .work__image {
        max-width: 45px;
        width: 100%; }
    .work__scheme .work__arrow:nth-child(4) {
      display: none; }
    .work__scheme .work__arrow:nth-child(-n+2) {
      margin-bottom: 35px; }
    .work__scheme .work__retail {
      width: 25%; }

  .work__title {
    width: 50%; }
  .work__subtitle-line {
    width: 66%; }

  .work__retail {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .work__retail .work__item:nth-child(-n+1) {
      margin-bottom: 20px; } }
@media screen and (max-width: 478px) {
  .work__title {
    width: 60%; }
  .work__subtitle-line {
    width: 34%; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.description__subtitle-line {
  width: 100%; }
.description__wrapper {
  margin: 30px 0px 90px 0px;
  font-size: 18px;
  font-weight: 200;
  line-height: 23px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap; }
  .description__wrapper a {
    text-decoration: underline;
    color: #FF5716; }
.description__text {
  max-width: 45%;
  width: 100%; }

@media screen and (max-width: 768px) {
  .description__phone p:last-child {
    display: none; } }
@media screen and (max-width: 576px) {
  .description {
    display: none; } }
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  list-style: none; }

.hide {
  display: none; }

.container {
  max-width: 1174px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto; }
  @media screen and (max-width: 1140px) {
    .container {
      padding-left: calc(10px + 40 * ((100vw - 320px) / 820)); } }
  @media screen and (max-width: 1140px) {
    .container {
      padding-right: calc(10px + 40 * ((100vw - 320px) / 820)); } }

.footer {
  width: 100%;
  background-color: #5B748A; }
  .footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: white; }
  .footer__item {
    margin: 30px 0px;
    line-height: 19px; }
    .footer__item .contacts {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      line-height: 18px;
      line-heigh: 20px; }
      @media screen and (max-width: 1140px) {
        .footer__item .contacts {
          line-heigh: calc(10px + 10 * ((100vw - 320px) / 820)); } }
      .footer__item .contacts__bell {
        padding: 12px 9px 12px 0px;
        position: relative; }
        .footer__item .contacts__bell a {
          font-size: 12px;
          padding: 10px 13px;
          position: absolute;
          text-transform: uppercase;
          text-align: center;
          text-decoration: 2px dashed underline #CCD8E8;
          color: #4673AC;
          z-index: 1; }
      .footer__item .contacts__date {
        font-size: 14px; }
        @media screen and (max-width: 1140px) {
          .footer__item .contacts__date {
            font-size: calc(11px + 3 * ((100vw - 320px) / 820)); } }
      .footer__item .contacts__info {
        display: inline-block; }
      .footer__item .contacts__phone {
        color: #fff;
        font-size: 22px;
        text-decoration: none; }
        @media screen and (max-width: 1140px) {
          .footer__item .contacts__phone {
            font-size: calc(14px + 8 * ((100vw - 320px) / 820)); } }
      .footer__item .contacts__subphone {
        color: #fff;
        font-size: 14px;
        text-decoration: none; }
        @media screen and (max-width: 1140px) {
          .footer__item .contacts__subphone {
            font-size: calc(10px + 4 * ((100vw - 320px) / 820)); } }
      .footer__item .contacts__email {
        color: #4673AC;
        font-size: 14px; }
        @media screen and (max-width: 1140px) {
          .footer__item .contacts__email {
            font-size: calc(10px + 4 * ((100vw - 320px) / 820)); } }
    .footer__item .logo_photo {
      margin-bottom: 26px; }
    .footer__item .network {
      display: flex;
      align-items: auto;
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin-top: 44px; }
    .footer__item a {
      color: white; }
    .footer__item_nav {
      display: block; }
  .footer_contacts__email {
    color: #4673AC; }

.warning {
  background-color: #2D3F53;
  color: #fff; }
  .warning__container {
    display: flex;
    align-items: auto;
    justify-content: space-between;
    flex-wrap: nowrap; }
  .warning p {
    margin: 23px 0px 11px 0px;
    font-size: 11px;
    font-weight: 300; }

@media screen and (max-width: 1200px) {
  .footer_contacts__bell {
    display: none; } }
@media screen and (min-width: 1200px) {
  .footer_contacts__media {
    display: none; } }
@media screen and (max-width: 768px) {
  .footer .footer__item .footer__item_nav {
    display: none; } }
@media screen and (max-width: 576px) {
  .footer .footer__item .footer__place {
    display: none; }
  .footer .footer__item .footer__map {
    display: none; }
  .footer .footer__item .footer__item_nav {
    display: none; }

  .footer__link_wrapper {
    display: flex;
    flex-wrap: wrap; }
    .footer__link_wrapper .footer__link {
      width: 100%;
      padding: 7px 15px;
      border-bottom: 1px solid #fff;
      color: #fff;
      text-decoration: none;
      position: relative; }
      .footer__link_wrapper .footer__link::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-right: 1px;
        transform: rotate(-45deg); }

  .warning__container {
    display: flex;
    justify-content: center; }
    .warning__container p {
      display: none; } }
@media screen and (min-width: 576px) {
  .footer__link_wrapper {
    display: none; } }

/*# sourceMappingURL=index.css.map */
